@use 'variables' as *;
@use 'mixins' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include transition(0.2s, linear);
  padding-bottom: 20px;
  z-index: 999;

  &.header_active {
    background: $color-header-active;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 82px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 24px;
    color: $color-white;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.75;
    }
  }

  &__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;

    .burger__line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $color-white;
      position: absolute;
      left: 0;

      &.burger__line_first {
        top: 0;
      }

      &.burger__line_second {
        top: 50%;
        transform: translateY(-50%);
      }

      &.burger__line_third {
        bottom: 0;
      }
    }
  }
}

.intro {
  min-height: 100vh;
  background: url("../img/intro-bg-min.jpg") no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;

  &__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: $color-white;
    margin-bottom: 22px;
  }

  &__subtitle {
    max-width: 546px;
    color: $color-white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
  }
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url("../img/svg/circle-ico.svg") no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: $color-white;

  &::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: $color-white;
  }
}

.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: $color-white;
  background: $color-primary-light;
  border: 0;

  &:hover,
  &:focus,
  &:active {
    background: $color-primary-dark;
  }
}

.benefits {
  margin-bottom: 131px;

  &__wrap {
    max-width: 1262px;
    background-color: $color-white;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
  }

  &__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: $color-white;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
    padding: 0 100px;
  }

  &__card {
    margin-bottom: 112px;

    &-pic {
      max-width: 66px;
      margin-bottom: 37px;

      &-thumb {
        display: block;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 26px;
    }

    &-desc {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 39px;
    }

    &-more {
      display: inline-block;
      padding-right: 59px;
      font-size: 16px;
      line-height: 24px;
      color: $color-primary;
      text-decoration: none;
      background: url("../img/svg/arrow-right-ico.svg") no-repeat 95% center;
      transition: 0.2s all;

      &:hover,
      &:focus {
        background: url("../img/svg/arrow-right-ico.svg") no-repeat right center;
      }
    }
  }
}

.places {
  margin-bottom: 131px;

  &__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;

    &-title {
      margin-right: 15px;
    }

    &-view-all {
      font-size: 16px;
      color: $color-primary;
      text-decoration: none;
      padding-right: 59px;
      background: url("../img/svg/arrow-right-ico.svg") no-repeat right center;

      &:hover,
      &:focus {
        opacity: 0.65;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }

  &__card {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(21, 24, 36, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &:hover .places__card-pic {
      transform: scale(1.05);
    }

    &-title {
      font-size: 50px;
      line-height: 60px;
      color: $color-white;
      position: absolute;
      bottom: 27px;
      left: 29px;
      z-index: 3;
    }

    &-size_lg {
      grid-column: span 3;
    }

    &-size_sm {
      grid-column: span 2;
    }

    &-pic {
      width: 100%;
      transition: 0.15s all;

      &.places__card-pic_size_lg {
        height: 354px;
        object-fit: cover;
      }

      &.places__card-pic_size_sm {
        height: 283px;
        object-fit: cover;
      }
    }

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
    }
  }
}

.tours {
  margin-bottom: 139px;

  &__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 108px;
    align-items: center;
    margin-bottom: 77px;

    &__info {
      padding-left: 47px;
    }

    &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 85px;
    }

    &__desc {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 58px;
    }

    &__more {
      font-size: 16px;
      color: $color-primary;
      text-decoration: none;
      padding-right: 59px;
      background: url("../img/svg/arrow-right-ico.svg") no-repeat right center;

      &:hover,
      &:focus {
        opacity: 0.65;
      }
    }
  }
}

.top {
  margin-bottom: 86px;

  &__title {
    margin-bottom: 54px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 57px;
    row-gap: 57px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;

    &-pic {
      position: relative;
      margin-bottom: 45px;
    }

    &-stats {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(21, 24, 36, 0.6);
      padding: 16px 25px;

      &-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: $color-white;
        margin: 0 auto 0 0;
      }

      &-likes {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $color-white;
        padding-right: 20px;
        background: url("../img/svg/heart-ico.svg") no-repeat right;
        margin-right: 14px;
      }

      &-comments {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $color-white;
        padding-right: 23px;
        background: url("../img/svg/comment-ico.svg") no-repeat right;
      }
    }

    &-desc {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 31px;
    }

    &-more {
      width: 118px;
      padding: 12px 19px;
      background: $color-primary;
      text-decoration: none;
      color: $color-white;
      font-size: 16px;
      margin-top: auto; // чтобы кнопка была у "нижнего края"

      &:hover,
      &:focus,
      &:active {
        background: $color-primary-dark;
      }
    }
  }
}

.videos {
  width: 100%;

  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }

  .video__item {
    padding-top: 56.25%;
  }

  .video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footer {
  background: $color-header-active;
  padding: 119px 0;

  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    width: 50%;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
  }

  &__menu-title {
    color: $color-white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  &__menu-link {
    color: $color-white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.75;
    }
  }
}

@media screen and (max-width: 960px) {
  .benefits {
    margin-bottom: 75px;

    &__card {
      margin-bottom: 60px;
    }

    &__cards {
      padding: 0 15px;
      column-gap: 35px;
    }

    &__title {
      padding: 55px 15px;
    }

    &__wrap {
      box-shadow: none;
    }
  }

  .places__card_size_lg,
  .places__card_size_sm {
    grid-column: span 6;
  }

  .tours__tour {
    column-gap: 35px;

    &__info {
      padding-left: 0;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__desc {
      margin-bottom: 15px;
    }
  }

  .top__cards {
    column-gap: 25px;
    row-gap: 55px;
  }

  .top__card {
    grid-column: span 3;

    &-pic {
      margin-bottom: 25px;
    }
  }

  .footer {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 25px;

    &::after {
      width: 78px;
    }
  }

  .header__burger {
    display: block;
  }

  .header__wrapper {
    padding-top: 28px;
  }

  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    padding: 75px;
    @include transition(0.2s, linear);
    transform: translateX(100%);

    &.header__nav_active {
      transform: translateX(0);
    }
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;

    .header__nav-close-line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $color-white;
      position: absolute;
      top: 50%;

      &:first-child {
        transform: translateY(-50%) rotate(45deg);
      }

      &:last-child {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  .intro {
    padding-top: 125px;

    &__title {
      font-size: 32px;
      line-height: 48px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }

  .search-form__field {
    width: 100%;
    margin-right: 0;
    padding-bottom: 12px;
    background: transparent url("../img/svg/circle-ico.svg") no-repeat left 2px;

    &::placeholder {
      font-size: 16px;
    }
  }

  .search-form__submit {
    width: 100%;
  }

  .benefits {
    margin-bottom: 36px;

    &__card {
      grid-column: span 3;
      margin-bottom: 40px;
    }

    &__card-pic {
      margin-bottom: 20px;
    }

    &__card-title {
      margin-bottom: 12px;
    }

    &__card-desc {
      margin-bottom: 20px;
    }
  }

  .places {
    margin-bottom: 76px;

    &__card-pic_size_lg,
    &__card-pic_size_sm {
      height: 230px;
    }

    &__view-all {
      margin-bottom: 25px;
    }

    &__caption {
      margin-bottom: 0;
    }
  }

  .tours {
    margin-bottom: 76px;

    &__tour {
      margin-bottom: 50px;
    }
  }

  .top {
    margin-bottom: 76px;

    &__card {
      grid-column: span 6;
    }

    &__card-stats {
      max-width: 386px;
    }

    &__card-desc {
      margin-bottom: 15px;
    }
  }

  .footer__logo {
    width: 100%;
    margin-bottom: 24px;
  }

  .footer__nav {
    width: 100%;
  }

  .footerm__menu {
    width: 50%;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }
}
