$font-main: "Lato", sans-serif;

$color-text: #102746;
$color-white: #fff;
$color-primary: #006dfe;
$color-primary-light: #1b7dff;
$color-primary-dark: #0e66da;
$color-header-active: #0e1d28;

